{% extends 'base.html' %}

{% block header %}
<h1></h1>
{% endblock %}

{% block content %}
<h1>Welcome to Smoker Monitor</h1>
<a href='\editcook'>Edit Cook</a><br/>
Title: {{ title }}<br/>
Start: {{ start }}<br/>
Duration: {{ duration }}<br/>
<br/>
<table>
    <tr>
        <td>Sensor</td>
        <td>Min</td>
        <td>Max</td>
      </tr>
  <tr>
    <td>Sensor 1</td>
    <td>{{ minTemp[0] }}</td>
    <td>{{ maxTemp[0] }}</td>
  </tr>
  <tr>
    <td>Sensor 2</td>
    <td>{{  minTemp[1] }}</td>
    <td>{{  maxTemp[1] }}</td>
  </tr>
  <tr>
    <td>AirTemp</td>
    <td>{{  minTemp[2] }}</td>
    <td>{{  maxTemp[2] }}</td>
  </tr>
</table>

<table>
  <th>
  <td>Date Stamp</td>
  <td>Sensor 1</td>
  <td>Sensor 2</td>
  <td>Air Temp</td>
  </th>
  {% for temp in temps %}
    <tr>
      <td>{{ temp['EventDate'] }}</td>
      <td>{{ temp['Temp'] }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock %}